.dialog {
  z-index: 2019;
  position: fixed;
  background: #fff;
  min-width: 25em;
  min-height: 300px;
  overflow: auto;
  max-height: 600px;
  border-radius: 5px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 14px;
  font-weight: normal;
  transition: all ease-in-out .5s;
}

.dialog-mask {
  position: fixed;
  z-index: 2018;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all ease-in-out .5s;
}

.dialog .dialog-header {
  text-align: center;
  font-size: 22px;
  color: #272727;
  padding: 8px 16px;
  border-bottom: 1px solid #e8e8e8;
}

.dialog .dialog-main {
  min-height: 6em;
  padding: 8px 16px;
}

.dialog .dialog-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8c8c8c;
}
.commit-content-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 5px;
}
.main-title {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.item-message, .item-date, .item-author {
  color: #666;
  font-weight: bold;
}
.item-commit-text {
  color: #000;
  margin-left: 10px;
}
.item-index {
  margin-right: 20px;
  color: #000;
}